* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: $font-Inter;
  font-style: normal;
  font-display: swap;
}

input, textarea {
  outline: none;
  border: 0;
  background: transparent;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

address {
  font-style: normal;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

ul, ol, dl {
  list-style: none;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: calc(576px);
  margin: 0 auto;
  padding: 0 15px;
}

.section_title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110.00000000000001%;
  color: #111135;
  text-align: center;
}

.section_top {
  padding-top: 60px;
}

.lang-select {
  position: relative;
  width: 23px;
  display: flex;
  flex-shrink: 0;
  z-index: 4;

  &__current {
    width: 100%;
    cursor: pointer;
    width: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-transform: uppercase;
    color: $color-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: background .2s ease, border-color .2s ease;
  }

  &__arrow {
    transition: transform .2s ease;
  }

  &.open &__arrow {
    transform: rotate(180deg);
  }

  &__list {
    position: absolute;
    top: calc(100% + 6px);
    left: -5px;
    width: 40px;
    background: #ffffff;
    border: 1px solid #e1e3ff;
    border-radius: 3px;
    padding: 2px 0;
    list-style: none;
    z-index: 3;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-5px);
    transition: .2s ease;

    li {
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      text-transform: uppercase;
      color: $color-dark;

      &:hover {
        background: #f4f5ff;
      }
    }
  }

  &.open &__list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
