@mixin media($breakpoint) {
  $breakpoints: (
    "xs": 480px,
    "sm": 680px,
    "md": 850px,
    "lg": 1200px,
    "xl": 1450px,
    "xxl": 1550px
  );

  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Invalid breakpoint: `#{$breakpoint}`. Use one of the following: #{map-keys($breakpoints)}.";
  }
}

// режим работы
// @include media("lg") {
//   padding: 10px;
// }
