// fonts
$font-SFProDisplay: "SF Pro Display", sans-serif;
$font-Inter: "Inter", sans-serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-light: #F3F0FD;
$color-dark: #111135;
$color-lavender: #8775CD;
$color-grey: #848488;
$field-error: #e26a6a;
$color-error: #ff6b6b;
$color-error-2: #EAA0A1;
// colors
