@import
    './vendors/normalize',
    './abstracts/variables',
    './abstracts/media',
    './base/globals';

@import
    './layout/header',
    './layout/subscription',
    './layout/email',
    './layout/personal_account',
    './layout/dark-theme',
    './layout/footer';
