.header {
  margin: 30px 0 0 0;

  &_left {
    width: 238px;

    @include media('lg') {
      width: 223px;
    }

    @include media('md') {
      width: auto;
    }

    .logo {
      @include media('lg') {
        width: 118px;
      }

      @include media('sm') {
        width: 85px;
      }
    }
  }

  &_right {
    display: flex;
    align-items: center;
    gap: 15px;

    @include media('sm') {
      display: none;
    }
  }

  &_link {
    display: flex;
    align-items: center;
    gap: 30px;

    @include media('lg') {
      gap: 25px;
    }

    @include media('md') {
      gap: 15px;
    }

    @include media('sm') {
      display: none;
    }

    li {
      display: flex;
      align-items: center;

      a {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: $color-dark;
        border-bottom: 1px solid transparent;
        transition: .3s ease;

        @include media('xl') {
          font-size: 17px;
        }

        @include media('lg') {
          font-size: 16px;
        }

        &:hover {
          border-bottom: 1px solid $color-dark;
        }
      }
    }
  }

  .white_btn {
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: $color-dark;
    width: 200px;
    height: 58px;
    border-radius: 40px;
    box-shadow: 0px 2px 2.5px 0px #8775CD33;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-light;
    transition: .3s ease;

    &:hover {
      box-shadow: 0px 2px 2.5px 0px #8775CD33;
      color: $color-white;
      background: $color-lavender;
    }

    @include media('xl') {
      width: 193px;
      height: 54px;
    }

    @include media('lg') {
      width: 185px;
      height: 52px;
      font-size: 16px;
    }

    @include media('md') {
      width: 152px;
    }
  }

  .burger {
    display: none;

    @include media('sm') {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header_two {
  margin-top: 30px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    @include media('sm') {
      width: 85px;
    }

    .dark_img {
      display: none;
    }
  }

  .prev_link {
    width: 16px;
    height: 16px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.header_three {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .section_title {
      font-weight: 600;
      font-size: 36px;
      letter-spacing: -4%;
      color: $color-dark;
    }
  }
}

.header_media {
  padding: 20px 15px 30px 15px;
  background: $color-white;
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .3s ease;

  &.active {
    left: 0;
  }

  &_head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 85px;
    }
  }

  &_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    a {
      font-weight: 500;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: $color-dark;
    }
  }

  &_end {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &_social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    a {
      width: 32px;
      height: 32px;

      img {
        width: 100%;
      }
    }
  }

  .white_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: $color-dark;
    width: 100%;
    height: 52px;
    border-radius: 40px;
    box-shadow: 0px 2px 2.5px 0px #8775CD33;
    background: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-light;
  }
}
