// subscription
.subscription {
  &_cards {
    margin-top: 20px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
  }

  &_card {
    background: $color-light;
    box-shadow: 0px 0px 60.77px 0px #8775CD73;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_top {
      padding: 20px;

      h3 {
        font-weight: 700;
        font-size: 26px;
        line-height: 120%;
        text-transform: uppercase;
        color: $color-dark;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        margin: 15px 0;

        li {
          font-weight: 400;
          font-size: 16px;
          line-height: 120%;
          color: $color-dark;
          list-style-type: disc;
        }
      }

      .white_btn {
        height: 52px;
        width: 100%;
        background: $color-white;
        border-radius: 40px;
        transition: .3s ease;
        box-shadow: 0px 2px 2.5px 0px #8775CD33;
        font-size: 18px;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        text-align: center;
        color: $color-dark;
        border: 1px solid $color-light;
        transition: .3s ease;
        border: 1px solid $color-light;

        &:hover {
          box-shadow: 0px 2px 2.5px 0px #8775CD33;
          color: $color-white;
          background: $color-lavender;
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        gap: 10px;

        h6 {
          font-weight: 700;
          font-size: 24px;
          line-height: 120%;
          text-transform: uppercase;
          color: $color-dark;
          display: flex;
          align-items: center;
          gap: 5px;

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: $color-dark;
            text-transform: lowercase;
          }
        }
      }
    }

    &_bottom {
      height: 173px;
      position: relative;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
// subscription
