// subscription
.subscription {
  &_cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(415px, 415px));
    gap: 20px;
    justify-content: center;

    @include media('xl') {
      grid-template-columns: repeat(2,1fr);
    }

    @include media('lg') {
      gap: 15px;
      margin-top: 30px;
    }

    @include media('md') {
      gap: 10px;
      margin-top: 20px;
    }

    @include media('sm') {
      gap: 15px;
      grid-template-columns: repeat(1,1fr);
    }
  }

  &_card {
    background: $color-light;
    box-shadow: 0px 0px 60.77px 0px #8775CD73;
    border-radius: 40px;
    overflow: hidden;
    // width: 560px;
    // max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_top {
      padding: 30px;

      @include media('sm') {
        padding: 20px;
      }

      h3 {
        font-weight: 700;
        font-size: 35px;
        line-height: 120%;
        text-transform: uppercase;
        color: $color-dark;

        @include media('xl') {
          font-size: 32px;
        }

        @include media('lg') {
          font-size: 28px;
        }

        @include media('md') {
          font-size: 26px;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 20px;
        margin: 20px 0 30px 0;

        @include media('md') {
          margin: 15px 0 20px 0;
        }

        @include media('sm') {
          margin: 15px 0;
        }

        li {
          font-weight: 400;
          font-size: 18px;
          line-height: 120%;
          color: $color-dark;
          list-style-type: disc;

          @include media('lg') {
            font-size: 17px;
          }

          @include media('md') {
            font-size: 16px;
          }
        }
      }

      .white_btn {
        height: 58px;
        width: 203px;
        background: $color-white;
        border-radius: 40px;
        transition: .3s ease;
        box-shadow: 0px 2px 2.5px 0px #8775CD33;
        font-size: 18px;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        color: $color-dark;
        border: 1px solid $color-light;
        transition: .3s ease;
        border: 1px solid $color-light;

        &:hover {
          box-shadow: 0px 2px 2.5px 0px #8775CD33;
          color: $color-white;
          background: $color-lavender;
        }

        @include media('xl') {
          height: 54px;
          width: 181px;
        }

        @include media('md') {
          height: 52px;
          font-size: 16px;
          width: 100%;
        }
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;

        @include media('md') {
          align-items: start;
          flex-direction: column;
          gap: 10px;
        }

        h6 {
          font-weight: 700;
          font-size: 28px;
          line-height: 120%;
          text-transform: uppercase;
          color: $color-dark;
          display: flex;
          align-items: center;
          gap: 5px;

          @include media('xl') {
            font-size: 30px;
          }

          @include media('lg') {
            font-size: 26px;
          }

          @include media('md') {
            font-size: 24px;
          }

          span {
            font-weight: 400;
            font-size: 18px;
            line-height: 120%;
            color: $color-dark;
            text-transform: lowercase;

            @include media('lg') {
              font-size: 17px;
            }

            @include media('md') {
              font-size: 16px;
            }
          }
        }
      }
    }

    &_bottom {
      height: 272px;
      position: relative;

      @include media('md') {
        height: 226px;
      }

      @include media('sm') {
        height: 173px;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
// subscription
